<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StreamCounter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <StreamCounter.Properties.Settings>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RestorePrevSess" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrevSess_text" serializeAs="String">
                <value>Text</value>
            </setting>
            <setting name="PrevSess_count" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NoOutput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PreviewFont" serializeAs="String">
                <value>Microsoft Sans Serif, 20.25pt</value>
            </setting>
            <setting name="OutputPath" serializeAs="String">
                <value>counter_output.txt</value>
            </setting>
        </StreamCounter.Properties.Settings>
    </userSettings>
</configuration>